<mat-card>
  <form (submit)='onAppPost(postForm)' #postForm='ngForm'>

    <mat-form-field>

          <!-- ye square brackets ka use hum angular me value propeerty ko set karne k liye karte h  -->
          <!-- <input type="text" [value]="'email'" #emailInput> -->

          <input
          matInput
          type="text"
          name='title'
          ngModel>

          <hr>

          <input
          matInput
          type="text"
          name='content'
          ngModel>
          <hr>

        <!-- <input type="text"  matInput [(ngModel)]="enteredValue"> -->
        <!-- <hr>
        <input type="password"
        matInput
        [value]="'password'" #passInput>
        <hr> -->
        <button
          mat-raised-button
          color='primary'
          type='submit'>save post</button>
        <!-- <p matInput> {{ newPost }} </p> -->

    </mat-form-field>

  </form>
</mat-card>
