/* mat-card{
  width: 80%;
  margin:  auto;
  align-content: center;
  align-items: center;
  text-align: center;
} */

mat-form-field,
input{
  width: 50%;
  border: 10px;
}

/* mat-form-field,
button{

} */
