
  <!-- jo object hum ne component me banaya h use show karne k liye hum ush varible object ka naam yaha pass karte h -->
  <!-- {{hero}} -->

  <!-- kyonki humein hero ka object na lekar uske value ko print karwana h to hum ush object ko uske attribute k saath access kar rahe h  -->
  

<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div> -->

<!-- ush hero ko display karne k liye ish html k code ka use kiya gaya h -->
<!-- <h2>My Heroes</h2>
<ul class="heroes"> -->
  <!-- yaha par li k andar humne """*ngFor="let hero of heroes""""  use ish liye kiya h jis se ki hum sare hero ko repetivly print kar sake-->
  <!-- <li *ngFor="let hero of heroes"> ishmein click event describe kiya gaya h -->
  <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </label>
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
  <!-- yaha par *ngFor ek for loop chalane k liye use ho raha h jis se ki sare heros ko access kiya ja sake -->
  <!-- fir uske baad """selectedHero""" ishka use hum perticular hero ko select karne k liye kar rahe h jis se ki hum ushpe operation apply kar sake -->
  <!-- aur sabse zaroori baat ishmein """class.selected""" ka use hum perticular devision ko select karne k liye kar rahe h ki wo next time me use ho sake -->
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <!-- ye span wali line bas itna kar rahi h ki hero ki id aur name display ho jaye -->
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!-- note karne wali baat ye h ki angular me koi v functionality lagane k liye nume *ng ka use karna padta h -->
<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>

</div>